<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <script src="/socket.io/socket.io.js"></script>
    <style>
        body {
            height: 100vh;
            text-align: center;
            display: flex;
            flex-direction: column;
        }
        body>header, body>footer {
            padding: 0;
        }
        main {
            flex-grow: 1;
            overflow-y: auto;
        }
        article.my-chat, article.other-chat {
            width: 60%;
            text-align: left;
        }
        article.my-chat {
            margin-left: 40%;
        }
        article.contrast {
            background-color: var(--pico-contrast-background);
            color: var(--pico-contrast-inverse);
            --pico-card-border-color: var(--pico-contrast);
        }
        article.contrast header {
            background-color: var(--pico-contrast-hover);
            color: var(--pico-contrast-inverse);
        }
        .header-button {
            width: 40px;
            height: 40px;
            padding: 0;
        }
        #goBack {
            position: absolute;
            left: 10px;
        }
        #memberInfo {
            position: absolute;
            right: 10px;
        }
        footer>[role=group] {
            margin: 0;
        }
        textarea {
            resize: none;
        }
        .modal {
            position: absolute;
            background-color: rgba(0, 0, 0, 0.25);
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 100;
        }
        #event-list, #member-list {
            width: 90%;
            height: 90%;
            overflow-y: scroll;
            background-color: var(--pico-background-color);
            padding: 10px;
            border-radius: 10px;
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
        #member-list article {
            text-align: left;
        }
        #event-list article:hover {
            background-color: var(--pico-text-selection-color);
        }
        #event-list article:hover header {
            background-color: var(--pico-text-selection-color);
        }
        #event-list:-webkit-scrollbar {
            display: none;
        }
    </style>
</head>
<body>
    <header>
        <button id="goBack" class="header-button" onclick="location.href='/chatroomframe';"><</button>
        <button id="memberInfo" class="header-button">&#9776;</button>
        <h3><%= room.room_name %></h3>
    </header>
    <main>
        <div class="msg-cont">
        <% chat_log.forEach((row) => { %>
            <article class="<%= ((row.user_id==user.user_id) ? 'my-chat' : 'other-chat') %> <%= row.type %>">
                <header>
                    <%= row.user_name %>
                </header>
                <main>
                    <% if (row.type == 'text') { %>
                        <% row.chat.split('\n').forEach((c, i) => { %>
                            <%= c %>
                            <% if (i!=row.chat.split('\n').length-1) { %>
                            <br>
                            <% } %>
                        <% }) %>
                    <% } else if (row.type == 'img') { %> 
                        <img src="/<%= row.chat %>" alt="deleted img" class="chat-img">
                    <% } else if (row.type == 'payment') { %>
                        <a href="/payment/<%= row.chat %>" target="_blank">결재 요청</a>
                    <% } else if (row.type == 'calendar') { %>
                        일정을 공유했습니다.
                        <article class="contrast">
                            <header><%= row.chat.split('\t')[1] %></header>
                            <main><%= row.chat.split('\t')[2] %> ~ <%= row.chat.split('\t')[3] %></main>
                        </article>
                    <% } %>
                </main>
            </article>
            <% }) %>
        </div>
    </main>
    <footer>
        <div role="group">
            <button id="imgUpload"><label for="img-input">이미지 첨부</label></button>
            <button id="paymentUpload"><label for="payment-input">전자 결재 요청</label></button>
            <button id="calendarShare">일정 등록</button>
        </div>
        <div class="msg-form" role="group">
            <textarea type="text" id="msg"></textarea>
            <button id="submit">submit</button>
        </div>
    </footer>
    <div id="eventModal" class="modal" style="display: none;">
        <div id="event-list">
        </div>
    </div>
    <div id="memberModal" class="modal" style="display: none;">
        <div id="member-list">
            <% member.forEach((m) => { %>
                <article>
                    <%= m.user_name %>
                </article>
            <% }); %>
        </div>
    </div>
    <input type="file" id="img-input" style="display: none;" accept="image/*">
    <input type="file" id="payment-input" style="display: none;" accept="application/pdf, image/png">
    
    <script src="/js/chat.js"></script>
</body>
</html>