<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/pico.css">
    <link rel="stylesheet" href="/css/chat.css">
    
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <header>
        <button id="goBack" class="header-button" onclick="location.href='/chatroomframe';"><</button>
        <button id="memberInfo" class="header-button">&#9776;</button>
        <h3><%= room.room_name %></h3>
    </header>
    <main class="main-section">
        <div class="scroll"></div>
        <div class="msg-cont">
        <% chat_log.forEach((row) => { %>
            <article class="<%= ((row.user_id==user.user_id) ? 'my-chat' : 'other-chat') %> <%= row.cl_type %>">
                <header>
                    <%= row.user_name %>
                </header>
                <main>
                    <% if (row.cl_type == 'text') { %>
                        <% row.cl_chat.split('\n').forEach((c, i) => { %>
                            <%= c %>
                            <% if (i!=row.cl_chat.split('\n').length-1) { %>
                                <br>
                            <% } %>
                        <% }) %>
                    <% } else if (row.cl_type == 'img') { %> 
                        <img src="/<%= row.cl_chat %>" alt="deleted img" class="chat-img">
                    <% } else if (row.cl_type == 'payment') { %>
                        <a href="/payment/<%= row.cl_chat %>" target="_blank">결재 요청</a>
                    <% } else if (row.cl_type == 'calendar') { %>
                        일정을 공유했습니다.
                        <article class="contrast">
                            <header><%= row.cl_chat.split('\t')[1] %></header>
                            <main><%= row.cl_chat.split('\t')[2] %> ~ <%= row.cl_chat.split('\t')[3] %></main>
                        </article>
                    <% } %>
                </main>
            </article>
            <% }) %>
        </div>
    </main>
    <footer>
        <div role="group">
            <button id="imgUpload"><label for="img-input">이미지 첨부</label></button>
            <button id="calendarShare">일정 등록</button>
        </div>
        <div class="msg-form" role="group">
            <textarea type="text" id="msg"></textarea>
            <button id="submit">submit</button>
        </div>
    </footer>
    <div id="eventModal" class="modal" style="display: none;">
        <div id="event-list">
        </div>
    </div>
    <div id="memberModal" class="modal" style="display: none;">
        <div id="member-list">
            <% member.forEach((m) => { %>
                <article>
                    <%= m.user_name %>
                </article>
            <% }); %>
        </div>
    </div>
    <input type="file" id="img-input" style="display: none;" accept="image/*">
    
    <script src="/js/chat.js"></script>
</body>
</html>